<!-- Login and Logout buttons -->
@if (!this.authenticated()) {
  <button type="button" (click)="login()">Login</button>
} @else {
  <button type="button" (click)="logout()">logout</button>
}

<!-- h3 elements -->
@if (this.isAdmin()) {
  <h3>Logged in as Admin</h3>
} @else if (this.isUser()) {
  <h3>Logged in as User</h3>
} @else if (this.isRegistered()) {
  <h3>Logged in as Registered</h3>
}

<!-- Show links when logged in -->
@if (this.authenticated()) {
  <div>
    <ul>
      <li class="list-item">
        <a routerLink="/admins-only">Admins only page</a>
      </li>
      <li class="list-item">
        <a routerLink="/users-only">Users only page</a>
      </li>
      <li class="list-item">
        <a routerLink="/registered-only">Registered only page</a>
      </li>
    </ul>
  </div>
}